@charset "UTF-8";
main {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}

.main__back {
  background: #f7f3eb;
}

body {
  font-family: "メイリオ", "Meiryo", "A-OTF 新ゴ Pro", "A-OTF Shin Go Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "MSPゴシック", "MS PGothic", sans-serif;
  background: #fbfbfb;
}

.br-pc {
  display: none;
}
@media screen and (min-width: 451px) {
  .br-pc {
    display: block;
  }
}
.u-desktop {
  display: none;
}
@media screen and (min-width: 451px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 451px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.6vw;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.c-checklist__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1% 0;
}

.c-checklist__item:nth-child(n+2) {
  margin-top: 3%;
}

.c-checklist__item02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1% 3%;
  font-family: vdl-logomaru, sans-serif;
}

.c-checklist__item02:nth-child(n+2) {
  border-top: 1px solid #9e9e9e;
}

.c-checklist__item:last-child {
  border: 0px none;
}

.c-checklist__img {
  margin: auto 0;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}
@media screen and (min-width: 768px) {
  .c-checklist__img {
    -ms-flex-preferred-size: 4%;
        flex-basis: 4%;
  }
}

.c-checklist__text {
  margin-left: 10px;
  margin-left: 0.625rem;
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
}
@media screen and (min-width: 451px) {
  .c-checklist__text {
    margin-left: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .c-checklist__text {
    margin-left: 1.25rem;
    -ms-flex-preferred-size: 96%;
        flex-basis: 96%;
  }
}

.c-footer {
  width: 100%;
  background: #0ab74b;
  text-align: center;
  padding: 10px;
  padding: 0.625rem;
}
.c-footer p, .c-footer a {
  font-size: 10px;
  font-size: 0.625rem;
  color: #fff;
}
@media screen and (min-width: 451px) {
  .c-footer p, .c-footer a {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 768px) {
  .c-footer p, .c-footer a {
    font-size: 1.25rem;
  }
}
.c-footer a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.c-footer a:hover {
  opacity: 0.5;
}

.c-text {
  color: #111;
  line-height: 1.7;
  letter-spacing: 0.05px;
  letter-spacing: 0.003125rem;
  font-size: 16px;
  font-size: 1rem;
}
.c-text mark {
  background: #fcff00;
}
@media screen and (min-width: 451px) {
  .c-text {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 768px) {
  .c-text {
    font-size: 1.25rem;
  }
}

.c-text--bold {
  font-weight: 700;
}

.c-text--red {
  color: #d50000;
}

.c-text--orange {
  color: #fe6104;
}

.c-text__underline {
  text-decoration: underline;
}

@media screen and (min-width: 451px) {
  .c-text--center {
    text-align: center;
  }
}
.l-header {
  margin: 0 auto;
}

.l-inner {
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 451px) {
  .l-inner {
    padding-right: 25px;
    padding-left: 25px;
  }
}
.l-section01 {
  padding-top: 5%;
}
.l-section02 {
  padding-top: 10%;
}
.l-section03 {
  padding-top: 10%;
}
.l-section04 {
  padding: 10% 0;
}
.l-section05 {
  padding: 10% 0;
}
@media screen and (min-width: 768px) {
  .l-section05 {
    padding: 5% 0;
  }
}

.l-section06 {
  padding: 10% 0;
}
@media screen and (min-width: 768px) {
  .l-section06 {
    padding: 5% 0;
  }
}

.l-section07 {
  padding: 10% 0;
}
@media screen and (min-width: 768px) {
  .l-section07 {
    padding: 5% 0;
  }
}

.l-section08 {
  margin: 10% 0;
}
@media screen and (min-width: 768px) {
  .l-section08 {
    margin: 5% 0;
  }
}

.l-section09 {
  padding: 5% 0;
}
.l-section10 {
  margin: 10% 0;
}
@media screen and (min-width: 451px) {
  .l-section10 {
    margin: 5% 0;
  }
}
.l-section11 {
  padding: 10% 0;
}
@media screen and (min-width: 768px) {
  .l-section11 {
    padding: 5% 0;
  }
}

.p-cta {
  max-width: 1000px;
  margin: 0 auto;
  background: #0ab74b;
  padding: 5%;
}

.p-cta__contents {
  background: #fff;
  border-radius: 30px;
  padding: 5% 3%;
}
@media screen and (min-width: 451px) {
  .p-cta__contents {
    padding: 5% 8%;
  }
}
.p-cta__fee {
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 451px) {
  .p-cta__fee {
    width: 100%;
  }
}
.p-cta__block {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 451px) {
  .p-cta__block {
    width: 100%;
  }
}
.p-cta__btn01,
.p-cta__btn02,
.p-cta__btn03 {
  margin-top: 5%;
}

.p-cta__btn01 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 451px) {
  .p-cta__btn01 {
    width: 80%;
  }
}
.p-cta__btn02 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 451px) {
  .p-cta__btn02 {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .p-cta__btn02 {
    width: 60%;
  }
}

.p-cta__btn03 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 451px) {
  .p-cta__btn03 {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .p-cta__btn03 {
    width: 60%;
  }
}

.p-cta__text:nth-child(n+2) {
  margin-top: 5%;
}
.dokidoki {
  -webkit-animation-name: dokidoki;
          animation-name: dokidoki; /* アニメーション名の指定 */
  -webkit-animation-delay: 0s;
          animation-delay: 0s; /* アニメーションの開始時間指定 */
  -webkit-animation-duration: 2s;
          animation-duration: 2s; /* アニメーション動作時間の指定 */
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  /* アニメーションの動き（徐々に早く徐々に遅く）*/
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; /* アニメーションをループさせる */
}

@-webkit-keyframes dokidoki {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes dokidoki {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.p-header {
  max-width: 1350px;
  max-width: 84.375rem;
  background: #fe6104;
  padding-bottom: 5%;
}

.p-header__contents {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 451px) {
  .p-header__contents {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .p-header__contents {
    width: 80%;
  }
}

.p-header__title {
  margin-top: 5%;
}
.p-header__content {
  background: #fff;
  border: 5px solid #fbfd00;
  margin-top: 3%;
  padding: 3%;
}
@media screen and (min-width: 451px) {
  .p-header__content {
    padding: 3%;
  }
}
@media screen and (min-width: 768px) {
  .p-header__content {
    padding: 3%;
  }
}

.p-header__text {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 451px) {
  .p-header__text {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .p-header__text {
    width: 80%;
  }
}
.p-section01__content {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-section01__content {
    width: 85%;
  }
}

.p-section01__title01 {
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 451px) {
  .p-section01__title01 {
    width: 70%;
  }
}
.p-section01__items {
  margin-top: 5%;
}
@media screen and (min-width: 451px) {
  .p-section01__items {
    border: 2px solid #9e9e9e;
    padding: 4%;
  }
}
@media screen and (min-width: 768px) {
  .p-section01__items {
    padding: 5%;
  }
}

@media screen and (min-width: 451px) {
  .p-section01__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.p-section01__item:nth-child(n+2) {
  margin-top: 5%;
}
@media screen and (min-width: 451px) {
  .p-section01__item:nth-child(odd) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.p-section01__img01 {
  width: 60%;
  margin: 8% auto;
}
@media screen and (min-width: 451px) {
  .p-section01__img01 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}
.p-section01__img01 img {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 451px) {
  .p-section01__img01 img {
    width: 100%;
  }
}
@media screen and (min-width: 451px) {
  .p-section01__img01-1 {
    margin: auto 0 auto 3%;
  }
}
@media screen and (min-width: 451px) {
  .p-section01__img01-2 {
    margin: auto 3% auto 0;
  }
}
.p-section01__checklist {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  width: 100%;
}
@media screen and (min-width: 451px) {
  .p-section01__checklist {
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}
@media screen and (min-width: 768px) {
  .p-section01__checklist {
    width: 70%;
  }
}

@media screen and (min-width: 451px) {
  .p-section01__checklist--01 {
    margin-right: auto;
    margin-left: 0;
  }
}
@media screen and (min-width: 451px) {
  .p-section01__checklist--02 {
    margin-right: 0;
    margin-left: auto;
  }
}
.p-section01__text-box {
  margin: 5% auto 0;
}
.p-section01__text:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 451px) {
  .p-section01__text:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .p-section01__text:nth-child(n+2) {
    margin-top: 2.8125rem;
  }
}

.p-section02__content {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-section02__content {
    width: 85%;
  }
}

.p-section02__title01 {
  margin: 0 auto;
  width: 80%;
}
@media screen and (min-width: 451px) {
  .p-section02__title01 {
    width: 60%;
  }
}
.p-section02__checklist {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  width: 100%;
}
@media screen and (min-width: 451px) {
  .p-section02__checklist {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .p-section02__checklist {
    width: 70%;
  }
}

.p-section02__text-box {
  margin: 5% auto 0;
}

.p-section02__text:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 451px) {
  .p-section02__text:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .p-section02__text:nth-child(n+2) {
    margin-top: 2.8125rem;
  }
}

.p-section03__content {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-section03__content {
    width: 85%;
  }
}

.p-section03__content02 {
  border: 5px solid #4066a0;
  padding: 5% 3%;
  margin: 5% auto 0;
  width: 100%;
}
@media screen and (min-width: 451px) {
  .p-section03__content02 {
    border: 6px solid #4066a0;
  }
}
@media screen and (min-width: 768px) {
  .p-section03__content02 {
    width: 85%;
    border: 10px solid #4066a0;
  }
}

.p-section03__title01 {
  margin: 0 auto;
  width: 80%;
}
@media screen and (min-width: 451px) {
  .p-section03__title01 {
    width: 60%;
  }
}
.p-section03__title02 {
  border-bottom: 2px solid #4066a0;
  padding-bottom: 3%;
}
.p-section03__title02 img {
  margin: 0 auto;
  width: 95%;
}
.p-section03__text-box {
  margin: 5% auto 0;
}

.p-section03__text:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 451px) {
  .p-section03__text:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .p-section03__text:nth-child(n+2) {
    margin-top: 2.8125rem;
  }
}

.p-section03__text02:nth-child(n+2) {
  margin-top: 10px;
  margin-top: 0.625rem;
}
@media screen and (min-width: 451px) {
  .p-section03__text02:nth-child(n+2) {
    margin-top: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .p-section03__text02:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}

.p-section04__content {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-section04__content {
    width: 85%;
  }
}

.p-section04__title01 {
  margin: 0 auto;
  width: 70%;
}
@media screen and (min-width: 451px) {
  .p-section04__title01 {
    width: 55%;
  }
}
.p-section04__img01 {
  width: 90%;
  margin: 8% auto;
}
@media screen and (min-width: 451px) {
  .p-section04__img01 {
    width: 70%;
  }
}
@media screen and (min-width: 451px) {
  .p-section04__img01 img {
    width: 100%;
  }
}
.p-section04__text-box {
  margin: 5% auto 0;
}

.p-section04__text:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 451px) {
  .p-section04__text:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .p-section04__text:nth-child(n+2) {
    margin-top: 2.8125rem;
  }
}

.p-section05 {
  background: #f7fdf9;
}

.p-section05__title01 {
  margin: 0 auto;
  width: 100%;
}
.p-section05__title01 img {
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .p-section05__title01 img {
    width: 85%;
  }
}

.p-section05__content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  border: 3px solid #0ab74a;
  padding: 3%;
  background: #fff;
}
@media screen and (min-width: 451px) {
  .p-section05__content {
    padding: 5%;
  }
}
@media screen and (min-width: 768px) {
  .p-section05__content {
    width: 90%;
  }
}

.p-section05__h3 {
  margin-top: -12%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 451px) {
  .p-section05__h3 {
    margin-top: -12%;
    width: 50%;
  }
}
.p-section05__h4 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.p-section05__h4--01 {
  width: 65%;
}
@media screen and (min-width: 451px) {
  .p-section05__h4--01 {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .p-section05__h4--01 {
    width: 40%;
  }
}

.p-section05__h4--02 {
  width: 100%;
}
@media screen and (min-width: 451px) {
  .p-section05__h4--02 {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .p-section05__h4--02 {
    width: 70%;
  }
}

.p-section05__h4--03 {
  width: 70%;
}
@media screen and (min-width: 451px) {
  .p-section05__h4--03 {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .p-section05__h4--03 {
    width: 50%;
  }
}

.p-section05__h5 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-top: 5%;
}
@media screen and (min-width: 451px) {
  .p-section05__h5 {
    width: 80%;
  }
}
.p-section05__h5--top-line {
  border-top: 1px solid #0ab74a;
}
@media screen and (min-width: 768px) {
  .p-section05__box {
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.p-section05__img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
@media screen and (min-width: 451px) {
  .p-section05__img {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .p-section05__img {
    width: 100%;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.p-section05__img02 {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 451px) {
  .p-section05__img02 {
    width: 80%;
  }
}
.p-section05__description {
  margin-top: 5%;
}
@media screen and (min-width: 768px) {
  .p-section05__description {
    margin: auto 0;
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
}

.p-section05__text-box {
  margin-top: 5%;
}
.p-section05__text:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 451px) {
  .p-section05__text:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .p-section05__text:nth-child(n+2) {
    margin-top: 2.8125rem;
  }
}

.p-section06 {
  background: #f7fdf9;
}

.p-section06__content {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-section06__content {
    width: 85%;
  }
}

.p-section06__title01 {
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 451px) {
  .p-section06__title01 {
    width: 70%;
  }
}
.p-section06__items {
  margin-top: 5%;
  background: #fff;
  border: 3px solid #0ab74a;
  padding: 0 3%;
}
@media screen and (min-width: 451px) {
  .p-section06__items {
    padding: 0 5%;
  }
}
@media screen and (min-width: 768px) {
  .p-section06__items {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5%;
  }
}

.p-section06__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
}
.p-section06__item:nth-child(n+2) {
  border-top: 2px solid #9e9e9e;
}

.p-section06__number {
  margin: auto 0;
  -ms-flex-preferred-size: 8%;
      flex-basis: 8%;
  width: 30px;
  width: 1.875rem;
}
.p-section06__number img {
  margin: 0 auto;
  width: 50px;
  width: 3.125rem;
}

.p-section06__desc {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3%;
  -ms-flex-preferred-size: 92%;
      flex-basis: 92%;
  display: block;
}

.p-section06__h3 {
  margin-top: auto;
  margin-bottom: auto;
  color: #0ab74b;
  font-family: corporate-logo-ver2, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
}
@media screen and (min-width: 451px) {
  .p-section06__h3 {
    font-size: 4vw;
  }
}
@media screen and (min-width: 768px) {
  .p-section06__h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 451px) {
  .p-section06__h3:nth-child(n+2) {
    margin-left: 3%;
  }
}
.p-section06__img02 {
  width: 90%;
  margin: 8% auto;
}
.p-section06__img02 img {
  width: 100%;
}

.p-section06__text-box {
  margin: 5% auto 0;
}

@media screen and (min-width: 768px) {
  .p-section06__text:nth-child(n+2) {
    margin-top: 2.8125rem;
  }
}

.p-section07 {
  background: #fffbf5;
}

.p-section07__content {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-section07__content {
    width: 85%;
  }
}

.p-section07__title01 {
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 451px) {
  .p-section07__title01 {
    width: 70%;
  }
}
.p-section07__checklist {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  width: 100%;
}
@media screen and (min-width: 451px) {
  .p-section07__checklist {
    margin-bottom: auto;
    width: 80%;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}
@media screen and (min-width: 768px) {
  .p-section07__checklist {
    width: 65%;
  }
}

.p-section07__text-box {
  margin: 5% auto 0;
}

.p-section07__text:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 451px) {
  .p-section07__text:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .p-section07__text:nth-child(n+2) {
    margin-top: 2.8125rem;
  }
}

.p-section08 {
  background: #fff;
}

.p-section08__title {
  margin: 0 auto;
  width: 30%;
}
@media screen and (min-width: 768px) {
  .p-section08__title {
    width: 25%;
  }
}
.p-section08__contents {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-section08__contents {
    width: 90%;
  }
}

.p-section08__content {
  border: 3px solid #fe6104;
  padding: 2px;
}
@media screen and (min-width: 451px) {
  .p-section08__content {
    border: 4px solid #fe6104;
  }
}
@media screen and (min-width: 768px) {
  .p-section08__content {
    border: 5px solid #fe6104;
    padding: 3px;
  }
}

.p-section08__content:nth-child(n+2) {
  margin-top: 5%;
}

.p-section08__content-inline {
  border: 1px solid #fe6104;
  padding: 5%;
}
@media screen and (min-width: 451px) {
  .p-section08__content-inline {
    border: 2px solid #fe6104;
  }
}
@media screen and (min-width: 768px) {
  .p-section08__content-inline {
    border: 3px solid #fe6104;
  }
}

@media screen and (min-width: 451px) {
  .p-section08__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    border-bottom: 1px solid #fe6104;
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 768px) {
  .p-section08__imgs {
    border-bottom: 2px solid #fe6104;
  }
}
.p-section08__imgs img {
  width: 100%;
}

.p-section08__img01 {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 451px) {
  .p-section08__img01 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .p-section08__img01 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}
.p-section08__img01 img {
  width: 100%;
}

.p-section08__img02 {
  width: 60%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 451px) {
  .p-section08__img02 {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .p-section08__img02 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}
.p-section08__img02 img {
  width: 100%;
}

.p-section08__img {
  margin: 3% auto 0;
  width: 80%;
}
.p-section08__img img {
  width: 100%;
}

.p-section08__text {
  margin-top: 5%;
}

.p-section08__text:nth-child(n+2) {
  margin-top: 5%;
}
.p-section09 {
  background: #fffbf5;
}

.p-section09__content {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-section09__content {
    width: 85%;
  }
}

.p-section09__title01 {
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .p-section09__title01 {
    width: 80%;
  }
}
.p-section09__items {
  width: 100%;
  margin: 5% auto 0;
}
@media screen and (min-width: 768px) {
  .p-section09__items {
    width: 90%;
  }
}

.p-section09__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.p-section09__item:nth-child(n+2) {
  margin-top: 5%;
}
.p-section09__item:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.p-section09__balloom {
  margin: auto;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -webkit-box-shadow: 3px 1px 5px rgba(0, 0, 0, .4);
          box-shadow: 3px 1px 5px rgba(0, 0, 0, .4);
  background: #fff;
  padding: 5% 3%;
  border-radius: 30px;
}
@media screen and (min-width: 451px) {
  .p-section09__balloom {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}
@media screen and (min-width: 768px) {
  .p-section09__balloom {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}
.p-section09__balloom img {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 451px) {
  .p-section09__balloom img {
    width: 100%;
  }
}
.p-section09__human {
  margin: auto 0;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}
@media screen and (min-width: 451px) {
  .p-section09__human {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }
}
@media screen and (min-width: 768px) {
  .p-section09__human {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
}
.p-section09__human--odd img {
  margin-left: auto;
}
.p-section09__human--even img {
  margin-right: auto;
}
.p-section09__text-box {
  margin: 5% auto 0;
}

.p-section09__text:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 451px) {
  .p-section09__text:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .p-section09__text:nth-child(n+2) {
    margin-top: 2.8125rem;
  }
}

.p-section10__content {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-section10__content {
    width: 85%;
  }
}

.p-section10__title01 {
  margin: 0 auto;
  width: 60%;
}
@media screen and (min-width: 451px) {
  .p-section10__title01 {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .p-section10__title01 {
    width: 40%;
  }
}
.p-section10__items {
  width: 100%;
  margin: 5% auto 0;
}
@media screen and (min-width: 768px) {
  .p-section10__items {
    width: 90%;
  }
}

.p-section10__item {
  border: 2px solid #fe6104;
}
.p-section10__item:nth-child(n+2) {
  margin-top: 5%;
}
.p-section10__h3 {
  background: #fe6104;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
}
@media screen and (min-width: 451px) {
  .p-section10__h3 {
    padding: 2%;
  }
}
@media screen and (min-width: 768px) {
  .p-section10__h3 {
    padding: 1%;
  }
}

.p-section10__arrow {
  width: 25px;
  width: 1.5625rem;
  margin-top: auto;
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .p-section10__arrow {
    width: 2.1875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.p-section10__sub-title {
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  font-family: corporate-logo-ver2, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 451px) {
  .p-section10__sub-title {
    margin-left: 3%;
    font-size: 4vw;
  }
}
@media screen and (min-width: 768px) {
  .p-section10__sub-title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 451px) {
  .p-section10__sub-title--01 {
    width: 12.5rem;
  }
}
@media screen and (min-width: 768px) {
  .p-section10__sub-title--01 {
    width: 21.875rem;
  }
}

.p-section10__box {
  padding: 3%;
}
@media screen and (min-width: 768px) {
  .p-section10__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.p-section10__img {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 451px) {
  .p-section10__img {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .p-section10__img {
    width: 100%;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    margin-left: 5%;
  }
}

.p-section10__description {
  margin-top: 3%;
}
@media screen and (min-width: 768px) {
  .p-section10__description {
    margin: auto 0;
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
}

.p-section10__text-box {
  padding: 3%;
}
@media screen and (min-width: 451px) {
  .p-section10__text-box {
    padding: 5%;
  }
}
.p-section10__text:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 451px) {
  .p-section10__text:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .p-section10__text:nth-child(n+2) {
    margin-top: 2.8125rem;
  }
}

.p-section11__content {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-section11__content {
    width: 85%;
  }
}

.p-section11__title01 {
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 451px) {
  .p-section11__title01 {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .p-section11__title01 {
    width: 60%;
  }
}
.p-section11__img01 {
  width: 100%;
  margin: 8% auto;
}
@media screen and (min-width: 451px) {
  .p-section11__img01 {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .p-section11__img01 {
    width: 70%;
  }
}
.p-section11__img02 {
  width: 100%;
  margin: 8% auto;
}
@media screen and (min-width: 451px) {
  .p-section11__img02 {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .p-section11__img02 {
    width: 70%;
  }
}
.p-section11__text-box {
  margin: 5% auto 0;
}

.p-section11__text:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 451px) {
  .p-section11__text:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .p-section11__text:nth-child(n+2) {
    margin-top: 2.8125rem;
  }
}

@media screen and (min-width: 451px) {
  .p-text-box {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .p-text-box {
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */
