@use "global" as *;

.c-text {
    color: $black;
    line-height: 1.7;
	letter-spacing: rem(0.05);

    mark {
        background: $marker;
    }
    span {
    }

    // font-size: rem(10);
    font-size: rem(16);

    @include mq(sm) {
        font-size: 2.5vw;
    }

    @include mq(md) {
        font-size: rem(20);
        // font-size: rem(24);
    }
}

// 小文字
.c-text--small {
    font-size: rem(12);

    @include mq(sm) {
        font-size: 2vw;
    }

    @include mq(md) {
        font-size: rem(16);
    }
}

// 太字
.c-text--bold {
    font-weight: $bold;
}

// 赤字太字
.c-text--red {
    color: $red;
}
// オレンジ字太字
.c-text--orange {
    color: $orange;
}

//下線
.c-text__underline {
    text-decoration: underline;
}

// 真ん中
.c-text--center {
    
    @include mq(sm) {
        text-align: center;
    }

    @include mq(md) {
    }
}