@use "global" as *;

.p-benefit {
    background: #fff;
}

.p-benefit_title {

    img {
        margin: 0 auto;
        width: 85%;

        @include mq(md) {
            width: 75%;
        }
    }
}

.p-benefit__content {
    background: $orange;
    margin-top: 5%;
    padding: 3%;


    @include mq(sm) {
        padding: 3%;
    }

    @include mq(md) {
        padding: 3%;
    }
}

.p-benefit__closed {
    margin-top: 5%;
}
