@use "global" as *;

.p-header {
    // max-width: rem(1600);
    max-width: 84.375rem;
    background: $orange;
    padding-bottom: 5%;
}

.p-header__img {

}

.p-header__contents {
    width: 90%;
    margin: 0 auto;

    @include mq(sm) {
        width: 80%;
    }

    @include mq(md) {
        width: 80%;
    }
}

.p-header__title {
    margin-top: 5%;

    img {
    }
}

.p-header__content {
    background: $white;
    border: 5px solid $yellow;
    margin-top: 3%;
    padding: 3%;


    @include mq(sm) {
        padding: 3%;
    }

    @include mq(md) {
        padding: 3%;
    }
}

.p-header__text {
    width: 90%;
    margin: 0 auto;

    @include mq(sm) {
        width: 80%;
    }

    @include mq(md) {
        width: 80%;
    }

    img {

    }
}

.p-header__cta{

}