@use "global" as *;

.p-section03 {
}

.p-section03__inner {
}

.p-section03__content {
    margin: 0 auto;
    width: 100%;

    @include mq(sm) {
        // width: 80%;
    }

    @include mq(md) {
        width: 85%;

    }
}

.p-section03__content02 {
    border: 5px solid $title03-line;
    padding: 5% 3%;
    margin: 5% auto 0;
    width: 100%;

    @include mq(sm) {
        // width: 80%;
        border: 6px solid $title03-line;
    }

    @include mq(md) {
        width: 85%;
        border: 10px solid $title03-line;
    }
}

.p-section03__title01 {
    margin: 0 auto;
    width: 80%;

    @include mq(sm) {
        width: 60%;
    }

    @include mq(md) {
    }

    img {
    }
}
.p-section03__title02 {
    border-bottom: 2px solid $title03-line;
    padding-bottom: 3%;

    @include mq(sm) {
    }

    @include mq(md) {
    }

    img {
        margin: 0 auto;
        width: 95%;

        @include mq(sm) {
        }

        @include mq(md) {
        }
    }
}

.p-section03__text-box {
    margin: 5% auto 0;
    // width: 80%;
}
.p-section03__text {
}

.p-section03__text:nth-child(n + 2) {
    margin-top: rem(20);

    @include mq(sm) {
        margin-top: rem(20);
    }

    @include mq(md) {
        margin-top: rem(45);
    }
}

.p-section03__text02 {

}

.p-section03__text02:nth-child(n + 2) {
    margin-top: rem(10);

    @include mq(sm) {
        margin-top: rem(10);
    }

    @include mq(md) {
        margin-top: rem(20);
    }
}

