@use "global" as *;

.p-section06 {
    background: $title0506-bg;
}

.p-section06__inner {
}

.p-section06__content {
    margin: 0 auto;
    width: 100%;

    @include mq(sm) {
        // width: 80%;
    }

    @include mq(md) {
        width: 85%;

    }
}

.p-section06__title01 {
    margin: 0 auto;
    width: 90%;
    
    @include mq(sm) {
        width: 70%;
    }

    @include mq(md) {
    }

    img {
    }
}

.p-section06__items {
    margin-top: 5%;
    background: $white;
    border: 3px solid $title0506-line;
    padding: 0 3%;

    @include mq(sm) {
        padding: 0 5%;
    }
    @include mq(md) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 5%;
    }
}

.p-section06__items:nth-child(n + 2) {
    // border-top: 1px solid #000;
}

.p-section06__item {
    display: flex;
    padding: 5% 0;
    
    @include mq(sm) {
    }
    @include mq(md) {
    }
}

.p-section06__item:nth-child( n + 2) {
    border-top: 2px solid $title01-line;
}

.p-section06__number {
    margin: auto 0;
    flex-basis: 8%;
    width: rem(30);

    @include mq(sm) {
    }
    @include mq(md) {
    }

    img {
        margin: 0 auto;
        width: rem(50);
    }
}

.p-section06__desc {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
    flex-basis: 92%;
    display: block;

}

.p-section06__h3 {
    margin-top: auto;
    margin-bottom: auto;
    color: $green;
    font-family: corporate-logo-ver2, sans-serif;
    font-size: rem(24);

    @include mq(sm) {
        // margin-left: 3%;
        font-size: 4vw
    }
    @include mq(md) {
        font-size: rem(32);

    }
}

.p-section06__h3:nth-child(n + 2) {
    @include mq(sm) {
        margin-left: 3%;
    }
    @include mq(md) {
    }
}

.p-section06__text {

}

.p-section06__img02 {
    width: 90%;
    margin: 8% auto;

    @include mq(sm) {
    }
    @include mq(md) {
    }

    img {
        width: 100%;
    }
}

.p-section06__text-box {
    margin: 5% auto 0;
    // width: 80%;
}
.p-section06__text {
}

.p-section06__text:nth-child(n + 2) {
    // margin-top: rem(20);

    @include mq(sm) {
        // margin-top: rem(20);
    }

    @include mq(md) {
        margin-top: rem(45);
    }
}


