@use "global" as *;

.p-section04 {
}

.p-section04__inner {
}

.p-section04__content {
    margin: 0 auto;
    width: 100%;

    @include mq(sm) {
        // width: 80%;
    }

    @include mq(md) {
        width: 85%;

    }
}

.p-section04__title01 {
    margin: 0 auto;
    width: 70%;

    @include mq(sm) {
        width: 55%;
    }

    @include mq(md) {
    }

    img {
    }
}

.p-section04__img01 {
    width: 90%;
    margin: 8% auto;
    // box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.4);

    @include mq(sm) {
        width: 70%;
    }
    @include mq(md) {
    }

    img {
        // width: 80%;
        // margin: 0 auto;

        @include mq(sm) {
            width: 100%;
        }
        @include mq(md) {
        }
    }
}

.p-section04__text-box {
    margin: 5% auto 0;
    // width: 80%;
}
.p-section04__text {
}

.p-section04__text:nth-child(n + 2) {
    margin-top: rem(20);

    @include mq(sm) {
        margin-top: rem(20);
    }

    @include mq(md) {
        margin-top: rem(45);
    }
}


