@use "global" as *;

.p-section07 {
    background: $title0709-bg;
}

.p-section07__inner {
}

.p-section07__content {
    margin: 0 auto;
    width: 100%;

    @include mq(sm) {
        // width: 80%;
    }

    @include mq(md) {
        width: 85%;

    }
}

.p-section07__title01 {
    margin: 0 auto;
    width: 90%;

    @include mq(sm) {
        width: 70%;
    }

    @include mq(md) {
    }

    img {
    }
}

.p-section07__checklist {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 100%;

    @include mq(sm) {
        margin-bottom: auto;
        width: 80%;
        flex-basis: 70%;
    }
    @include mq(md) {
        width: 65%;
    }
}

.p-section07__text-box {
    margin: 5% auto 0;
    // width: 80%;
}
.p-section07__text {
}



.p-section07__text:nth-child(n + 2) {
    margin-top: rem(20);

    @include mq(sm) {
        margin-top: rem(20);
    }

    @include mq(md) {
        margin-top: rem(45);
    }
}


