@use "global" as *;

.p-section01 {
}

.p-section01__inner {
}

.p-section01__content {
    margin: 0 auto;
    width: 100%;

    @include mq(sm) {
        // width: 80%;
    }

    @include mq(md) {
        width: 85%;

    }
}

.p-section01__title01 {
    margin: 0 auto;
    width: 90%;

    @include mq(sm) {
        width: 70%;
    }

    @include mq(md) {
    }

    img {
    }
}
.p-section01__title02 {
    margin-top: 10%;

    img {
        margin: 0 auto;
        width: 90%;

        @include mq(sm) {
        }

        @include mq(md) {
        }
    }
}

.p-section01__items {
    margin-top: 5%;

    @include mq(sm) {
        border: 2px solid $title01-line;
        padding: 3%;
    }
    @include mq(md) {
        padding: 3%;
    }
}

.p-section01__item {

    @include mq(sm) {
        display: flex;
    }
    @include mq(md) {
    }
}

.p-section01__item:nth-child( n + 2 ) {
    margin-top: 5%;

    @include mq(sm) {
    }
    @include mq(md) {
    }
}

.p-section01__item:nth-child(odd) {


    @include mq(sm) {
        display: flex;
        flex-direction: row-reverse;
    }
    @include mq(md) {
    }
}

.p-section01__img01 {
    width: 60%;
    margin: 8% auto;
    // box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.4);

    @include mq(sm) {
        flex-basis: 30%;
    }
    @include mq(md) {
    }

    img {
        width: 80%;
        margin: 0 auto;

        @include mq(sm) {
            width: 100%;
        }
        @include mq(md) {
        }
    }
}
.p-section01__img01-1 {

    @include mq(sm) {
        margin:  auto 0 auto 3%;

    }
    @include mq(md) {
    }

    img {
    }
}
.p-section01__img01-2 {

    @include mq(sm) {
        margin: auto 3% auto 0;

    }
    @include mq(md) {
    }

    img {
    }
}

.p-section01__checklist {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 100%;

    @include mq(sm) {
        margin-top: auto;
        margin-bottom: auto;
        width: 80%;
        flex-basis: 70%;
    }
    @include mq(md) {
        width: 70%;
    }
}

.p-section01__checklist--01 {
    @include mq(sm) {
        margin-right: auto;
        margin-left: 0;
    }
    @include mq(md) {
    }
}
.p-section01__checklist--02 {
    @include mq(sm) {
        margin-right: 0;
        margin-left: auto;
    }
    @include mq(md) {
    }
}

// .p-section01__img02 {
//     width: 90%;
//     margin: 8% auto;

//     @include mq(sm) {
//     }
//     @include mq(md) {
//     }

//     img {
//         width: 100%;
//     }
// }

.p-section01__text-box {
    margin: 5% auto 0;
    // width: 80%;

    @include mq(sm) {
    }

    @include mq(md) {
    }
}
.p-section01__text {
}

.p-section01__text:nth-child(n + 2) {
    margin-top: rem(20);

    @include mq(sm) {
        margin-top: rem(20);
    }

    @include mq(md) {
        margin-top: rem(45);
    }
}


