@use "global" as *;

.p-section06 {
    background: $title0506-bg;
}

.p-section06__inner {
}

.p-section06__content {
    margin: 0 auto;
    width: 100%;

    @include mq(sm) {
        // width: 80%;
    }

    @include mq(md) {
        width: 85%;

    }
}

.p-section06__title01 {

    img {
        margin: 0 auto;
        width: 90%;

        @include mq(sm) {
        }

        @include mq(md) {
        }
    }
}

.p-section06__items {
    margin-top: 5%;
    background: $white;
    border: 3px solid $title0506-line;
    padding: 3%;

    @include mq(sm) {
        padding: 3%;
    }
    @include mq(md) {
        padding: 3%;
    }
}

.p-section06__items:nth-child(n + 2) {
    // border-top: 1px solid #000;
}

.p-section06__item {
    display: flex;
    padding: 5%;


    @include mq(sm) {
    }
    @include mq(md) {
    }
}

.p-section06__item:nth-child( n + 2) {
    border-top: 2px solid $title01-line;
}



.p-section06__number {
    margin: auto 5% auto 0;
    flex-basis: 20%;

    img {
        margin: 0 auto;
        width: rem(50);
    }
}

.p-section06__desc {
    // align-items: center;
    margin: auto 0;
    flex-basis: 80%;
    display: block;

}

.p-section06__h3 {
    width: 60%;

    @include mq(sm) {
    }
    @include mq(md) {
    }
}

.p-section06__text {

}

.p-section06__img01 {
    width: 60%;
    margin: 8% auto;
    // box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.4);

    @include mq(sm) {
        flex-basis: 30%;
    }
    @include mq(md) {
    }

    img {
        width: 80%;
        margin: 0 auto;

        @include mq(sm) {
            width: 100%;
        }
        @include mq(md) {
        }
    }
}
.p-section06__img01-1 {

    @include mq(sm) {
        margin:  auto 0 auto 3%;

    }
    @include mq(md) {
    }

    img {
    }
}
.p-section06__img01-2 {

    @include mq(sm) {
        margin: auto 3% auto 0;

    }
    @include mq(md) {
    }

    img {
    }
}

.p-section06__checklist {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 100%;

    @include mq(sm) {
        margin-bottom: auto;
        width: 80%;
        flex-basis: 70%;
    }
    @include mq(md) {
        width: 90%;
    }
}

// .p-section06__checklist {
//     margin-top: 5%;
//     margin-right: auto;
//     margin-left: auto;
//     margin-bottom: 0;
//     width: 100%;

//     @include mq(sm) {
//         margin-top: auto;
//         margin-bottom: auto;
//         width: 80%;
//         flex-basis: 70%;
//     }
//     @include mq(md) {
//         width: 70%;
//     }
// }

.p-section06__checklist--01 {
    @include mq(sm) {
        margin-right: auto;
        margin-left: 0;
    }
    @include mq(md) {
    }
}
.p-section06__checklist--02 {
    @include mq(sm) {
        margin-right: 0;
        margin-left: auto;
    }
    @include mq(md) {
    }
}


.p-section06__img02 {
    width: 90%;
    margin: 8% auto;

    @include mq(sm) {
    }
    @include mq(md) {
    }

    img {
        width: 100%;
    }
}






.p-section0602__content {
    margin: rem(20) auto 0;
    width: 100%;

    @include mq(sm) {
        margin: rem(20) auto 0;
        width: 80%;
    }
    @include mq(md) {
        margin: rem(50) auto 0;
        width: 85%;
    }
}
.p-section0603__content {
    margin: rem(35) auto 0;
    width: 100%;

    @include mq(sm) {
        margin: rem(35) auto 0;
        width: 80%;
    }
    
    @include mq(md) {
        margin: rem(90) auto 0;
        width: 85%;
    }
}

.p-section06__text-box {
    margin: 5% auto 0;
    // width: 80%;
}
.p-section06__text {
}



.p-section06__text:nth-child(n + 2) {
    margin-top: rem(20);

    @include mq(sm) {
        margin-top: rem(20);
    }

    @include mq(md) {
        margin-top: rem(45);
    }
}


