@use "global" as *;

.p-schedule {
}

.p-schedule__inner {

}

.p-schedule__content {
    margin: 0 auto;
    width: 100%;

    @include mq(sm) {
        width: 80%;
    }

    @include mq(md) {
        width: 85%;

    }
}

.p-schedule__text {
}

.p-schedule__text:nth-child(n + 2) {
    margin-top: 5%;

    @include mq(sm) {
    }

    @include mq(md) {
    }
}

.p-schedule__text-orange {
    color: $orange;
    font-size: rem(18);

    @include mq(sm) {
        font-size: 2.6vw;
    }

    @include mq(md) {
        font-size: rem(20);
    }
}

.p-schedule__text-orange:nth-child(2) {
    margin-top: 5%;
}


// ======
// 日程表
// ======
.p-schedule__table {
    margin: 0 auto;
    width: 100%;

    @include mq(sm) {
        width: 90%;
    }

    @include mq(md) {
        width: 85%;
    }
}

.p-schedule__table--mt {
    margin: 5% auto 0;

    @include mq(sm) {
    }

    @include mq(md) {
    }
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
th, td {
    padding: 5px;
    border: 1px solid $black;

    font-size: rem(18);

    @include mq(sm) {
        font-size: 2.6vw;
    }

    @include mq(md) {
        font-size: rem(28);
    }

}
th {
    background-color: $green;
    color: $white;
}
// ======
// /日程表
// ======

.p-schedule__closed {
    margin-top: 5%;
}